# Eclipse
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# C/C++ development with gdb
.csettings

# Java-specific
.classpath
.project

# PyDev (Python IDE for Eclipse)
.pydevproject

# JDT-specific (Eclipse Java Development Tools)
.settings/org.eclipse.jdt.core.prefs

# Gradle
.gradle/

# SonarLint
.sonarlint/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
